page-home {
           html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
            }
            #viseur {
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-37px;
                margin-left:-37px;
            }
            #fireButton{
                position:absolute;
                bottom:10px;
                right:10px;
                box-shadow: rgb(207, 134, 108) 2px 5px 0px 0px; 
                background: linear-gradient(rgb(208, 69, 27) 5%, rgb(188, 51, 21) 100%) rgb(208, 69, 27); 
                border-radius: 39px; 
                border: 1px solid rgb(148, 41, 17); 
                display: inline-block; 
                cursor: pointer; 
                color: rgb(255, 255, 255); 
                font-family: Arial; 
                font-size: 13px; 
                font-weight: bold; 
                padding: 32px 30px; 
                text-decoration: none; 
                text-shadow: rgb(133, 70, 41) 0px 1px 0px;
            }
}
