page-create-character-race {
    .item-md {
        padding-left: 0px
    }
    .label-md {
        margin: auto;
    }
    .raceButton {
        border: 1px solid black;
        text-align: center;
    }
}